<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../Scripts/angular.js"></script>
    <script src="../Modules/DemoModules.js"></script>
</head>
<body ng-app="DemoApp">
<div align="center" ng-init="pic=['../Images/1.jpg','../Images/2.jpg','../Images/3.jpg','../Images/4.jpg','../Images/5.jpg','../Images/6.jpg']">
    <img src="{{pic[count]}}" width="400" height="400" border="2">
    <br>
    <button ng-init="count=0" ng-click="count=count-1">Previous</button>
    <button ng-click="count=count=count+1">Next</button>
</div>

</body>
</html>